@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Apply styles for modern scrollbars */
.category-scroll-container {
  overflow-y: auto;  /* Enable vertical scrolling */
  max-height: 400px;  /* Adjust based on your design */
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: #4A90E2 #f1f1f1; /* Firefox */
}

/* For Webkit browsers (Chrome, Safari) */
.category-scroll-container::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

.category-scroll-container::-webkit-scrollbar-thumb {
  background-color: #4A90E2; /* Color of the thumb */
  border-radius: 4px;  /* Rounded corners for the thumb */
}

.category-scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;  /* Background of the track */
  border-radius: 4px;
}

@font-face {
  font-family: 'Geist';
  src: url('/src/assets/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/src/assets/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@layer base {
  body {
    @apply font-geist;
  }
}
